body {
    --bg-color: #FFFFFF;
    --bg-secondary-color: #2F7B80;
    --text-color: #000000;
    --text-secondary-color: #828282;
    --separator-color: #828282;
    --bg-button: #E10B20;
    --base-font-size: 16px;
    --base-line-height: 20px;
    --p-font-size: 48px;
    --phone-size: 28px;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.header-log,
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    list-style: none;
    margin: 0;
}

/**
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    list-style: none;
    margin: 0; 
}
**/
.header-log button {
    background-color: var(--bg-button);
    border-radius: 5px;
    max-width: 259px;
    height: 65px;
    padding-right: 23px;
    padding-left: 23px;
}

.header-log a,
nav a {
    text-decoration: none;
}

h1,
h2 {
    font-size: var(--p-font-size);
    margin-block-start: 0;
    margin-block-end: 0;
}

nav li {
    margin-right: 22px;
}

.header-nav {
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary-color);
    font-size: var(--base-line-height);
    color: var(--bg-color);
    width: auto;
    height: 65px;
}

nav a {
    color: var(--bg-color);
}

.img_background {
    width: 100%;
    background-image: url(../img/home-img/angar-svinarnik-1.jpg);
    background-size: cover;
    background-position: center;
    color: var(--bg-color);
    filter: brightness(40%)
}

.header-log a {
    font-size: var(--base-font-size);
    color: var(--text-color);
}

.header-log li:first-child {
    float: left;
    margin-right: -112px;

}

.phone-header a {
    color: var(--text-color);
    font-size: var(--phone-size);
}

section {
    display: flex;
    justify-content: center;
}

.border_telephone {
    border: #FFFFFF;
}

.contener {
    margin-left: 60px;
    margin-right: 60px;
}

.list_two_colomn {
    display: flex;
    list-style: none;
}

.list_two_colomn ul {
    list-style-type: disc;
    list-style: none;

}

.list_two_colomn a {
    color: #2F7B80;
}

ul.list_colomn_left {
    float: left;
    padding: 0;
}

.colomn_gorizont {
    display: inline-flex;
    justify-content: center;

}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


}

ul.main_nav li {
    list-style-type: none;
    border: 2px solid #2F7B80;
    width: 257px;
    height: 63px;
    border-radius: 5px;
}

.main_nav a {
    text-decoration: none;
    font-size: var(--base-line-height);
    color: var(--text-color);
}

.advantages {
    display: flex;
}

.img-desktop>img {
    width: 100%;
    height: auto;
    float: left;
}

.img-desktop {
    padding-right: 30px;
}

/** кнопки навигации**/
.button_controls {
    display: flex;
    flex-wrap: wrap;
}

.button_controls>button {
    flex: 1 1;
    border: 2px solid #2F7B80;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    font-size: var(--base-line-height);
    margin: 5px;
    width: 257px;
    height: auto;
}

.button_controls button:first-child {
    margin-left: 0;
}

.button_controls button:last-child {
    margin-right: 0;
}

.button_main_color {
    background: var(--bg-secondary-color);
}

.button_controls>button.button_main_color {
    font-weight: bold;
    background: var(--bg-secondary-color);
    color: var(--bg-color);
}

.tabor_class {
    display: none;
}

.tabor_class.visible {
    display: flex;
}

/** кнопка телефона**/
.phone-main {
    background-color: var(--bg-secondary-color);
    padding: 8px;
    border-radius: 6px;
}

.phone-main a {
    text-decoration: none;
    color: var(--bg-color);
    size: var(--base-line-height);
}

/** кнопка отправить **/
.send-main {
    background-color: var(--bg-button);
    padding: 8px;
    border-radius: 6px;

}

.number-entry {
    border: 2px solid transparent;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.number-entry input {
    opacity: 40%;
}

/** блок подержки**/
.block-color {
    background: #B5D7D9;
    text-align: center;
}
/** блок о нас**/
.about-us{
    display: flex;
}
.about-us p{
    font-size: 24px;
}
.img-float-left{
    display: flex;
}
.img-float-left h3{
font-size: 24px;
}