body {
    --bg-color: #FFFFFF;
    --bg-secondary-color: #2F7B80;
    --text-color: #000000;
    --text-secondary-color: #828282;
    --separator-color: #828282;
    --base-font-size: 16px;
    --base-line-height: 20px;
    --p-font-size:48px;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.header-log, nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    list-style: none;
    margin: 0;
}
/**
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    list-style: none;
    margin: 0; 
}
**/
.header-log button{
    background-color: #E10B20;
    border-radius: 5px;
    width: 259px;
    height: 65px;
}
.header-log a, nav a{
    text-decoration: none;
}

h1, h2{
    font-size: var(--p-font-size);
}
nav {
    background-color: var(--bg-secondary-color);
    font-size: var(--base-line-height);
    color: var(--bg-color);
    width: auto;
    display: flex;
    justify-content: center;
    height: 65px;
}
nav a {
    color: var(--bg-color);
}
.fon-img {
    background-image: url(../img/home-img/angar-svinarnik-1.jpg);
    background-size: cover;
}
.contener-img {
    width: 100%;
}
.header-log img:first-child {
    float:left;
  }
section{
    display: flex;
    justify-content: center;
}
.border_telephone{
    border: #FFFFFF;
}
.contener{
    margin: 60px;
}
.list_two_colomn{
    display: flex;
    list-style: none;
}
.list_two_colomn ul{
    list-style-type: disc;
}
.list_two_colomn a{
    color: #2F7B80;
}
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
ul.main_nav li {
    list-style-type: none; 
    border: 2px solid #2F7B80;
    width: 257px;
    height: 63px;
    border-radius: 5px;
    }
.main_nav a{
    text-decoration: none;
    font-size: var(--base-line-height);
    color: var(--text-color);
}
.advantages{
    display: flex;
}